@font-face {
  font-family: 'Signarita';
  src: url('signarita.woff2') format('woff2'),
       url('signarita.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

nav:before {
  content:"asd";
}
